form{
    display: flex;
    justify-content: center;
    align-items: center;  
}

div#logo-upload{
    margin-top: 20px;
    width: 260px;
    height: 290px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

div#logo-upload label{
    font-size: 20px;
}

div#logo-upload label input{
    display: none;
    cursor: pointer;
}

div#logo-upload label div#imglogo{
    display: flex;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

div#logo-upload  label div#imglogo img.logo{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

div#logo-upload label span{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div#logo-upload div.row-buttons{
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

div#logo-upload div.row-buttons button{
    border: 0;
    background: transparent;
    display: flex;
    margin-left: auto;
}

div#logo-upload div.row-buttons button svg{
width: 33px;
height: 33px;
}

div#logo-upload div.row-buttons a.Back_Interations{
    width: 80px;
}