form{
    display: flex;
    justify-content: center;
    align-items: center;  
}

label#logo-upload{
    margin-top: 20px;
    width: 260px;
    height: 280px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;

    font-size: 20px;
}

label#logo-upload p{
    text-align: center;
}

label#logo-upload input{
    display: none;
    cursor: pointer;
}

div#imglogo{
    display: flex;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

label#logo-upload span{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

label#logo-upload div.row-buttons{
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

label#logo-upload div.row-buttons button{
    border: 0px;
    background: transparent;
    display: flex;
    margin-left: auto;
}

