div.add-adds {
    align-items: center;
    width: 480px;
    height: 380px;
    box-sizing: border-box;
    margin: 20px auto -10px;
    background-color: #F9F9F9;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

div.add-adds p.title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

div.add-adds form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

div.add-adds form p{
    font-size: 14px;
    font-weight: bold;
    margin-right: auto;
    margin-top: 20px;
}

div.add-adds form input{
    font-size: 24px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    width: 100%;
}

div.add-adds form div.row-buttons{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

