header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 568px;
    height: 319px;

}

main{
    display: flex;
    flex-direction: column;
    
    width: 500px;
    height: 403px;

    background-color: #F1F1F1;
}

main p{
        margin-left: 20px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
}

main input{
    border: 10px;
    border-color: #E1E1E1;
    border-radius: 4px;
    margin: 0px  20px;
    width: 100%;
    max-width: 457px;
    height: 46px;
    
}