header.login{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    width: 568px;
    height: 319px;
}

div.login {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    border-radius: 8px;
    justify-content: center;

    width: 500px;
    height: 403px;

    background-color: #F1F1F1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

div.login p{
    margin-left: 20px;
    margin-top: 10px;
}

div.login input{
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    margin: 0px  20px;
    width: 100%;
    max-width: 457px;
    height: 46px;
    
}

div.login input::placeholder{
    font-size: 24px;
    color: #d1d1d1
}

div.row-buttons{
    display: flex;
    margin: 60px 20px;
    
    justify-content: space-between;
}

a.Back_Interations{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ff5555;
    text-decoration: none;
}

button.btnlogin{
    border:0px;
    border-radius: 4px;
    width: 195px;
    height: 50px;

    font-size: 24px;
    color: #FFFF;
    background-color: #FF5555;
    transition: filter 0.4s;
}

button.btnlogin:hover{
    filter: brightness(70%);
}



