header.login{
    display: flex;
    flex-direction: column;
    margin: auto;

    width: 568px;
    height: 319px;
}

div.login {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    border-radius: 8px;
    justify-content: center;

    width: 500px;
    height: 403px;

    background-color: #F1F1F1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

div.login form{
    display: flex;
    flex-direction: column;
    padding: 6px;
}

div.login p{
    margin-left: 20px;
    margin-top: 60px;
    font-weight: bold;
    margin-right: auto;
}

div.login input+p{
    margin-top: 20px;
}

div.login input{
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    width: 100%;
    max-width: 457px;
    height: 46px;
    
}

div.login input::placeholder{
    font-size: 24px;
    color: #d1d1d1
}

div.login form div.row-buttons{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    justify-content: space-between;
}


