@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #FDF5F5;
    -webkit-font-smoothing: antialiased;
}

header{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 60px;
}

header div.row-logo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

header div.row-logo-name img.logoenterprise{
    width: 32px;
    height: 28px;
}

header div.row-logo-name p{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

header div.menu-interations{
    margin-left: auto;
    margin-right: 60px;
    margin-top: 20px;
}

header div.menu-interations a{
    margin-left: 40px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}


input, button, textarea{
    font: 400 14px Roboto, sans-serif; 
}

button{
    cursor: pointer;
}

footer p{
    margin-top:  40px;
    text-align: center;
}